body{
    background-color: rgb(48, 48, 48);
    color: white;
    font-family: sans-serif;
}

h1{
    font-weight: 400;
    position: relative;
    transform: translate(45%);
}

h1::before{
    content: '';
    display: inline-block;
    position: absolute;
    top:-20px;
    left: -100px;
    width: 60px;
    height: 60px;
    border: 4px white solid;
    border-radius: 100px;
    background-color: rgb(255, 71, 71);
}

h1::after{
    content: '';
    display: inline-block;
    position: absolute;
    left: 190px;
    top: -20px;
    width: 60px;
    height: 60px;
    border: 4px white solid;
    border-radius: 100px;
    background-color: rgb(71, 77, 255);
}