div.brown {
    background-color: #433D3D;
    color: white;
}

div.brown span {
    color: #E97CEF;
}

div.red {
    background-color: #F74344;
    width: 100px;
    height: 100px;
}

div.purple {
    background-color: #C59EF9;
    width: 300px;

}

div.purple span {
    color: white;
    background-color: #7243B3;
}